/* Styles for the header of the application */
.app-header {
  background-color: #282c34;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adjusts content to each end */
  align-items: center; /* Vertically center the items */
  align-items: left; /* This line has no effect and can be removed */
  font-size: 10px;
  padding: 5px;
  color: white;
}

/* Styles for the application logo in the header */
.app-header__logo {
  height: 45px;
  top: 50%;
  bottom: 50%;
  padding-left: 20px;
  padding-bottom: 15px;
}

/* Styles for the last update information in the header */
.app-header__last-update {  
  height: 45px;
  top: 50%;
  bottom: 50%;
  padding-right: 20px; /* Adds some padding to the right */
}

/* Styles for the footer of the application */
.app-footer {
  background-color: #282c34;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adjusts content to each end */
  align-items: center; /* Vertically center the items */
  align-items: left; /* This line has no effect and can be removed */
  font-size: 10px;
  padding: 5px;
  color: white;
}

/* Styles for the text within the footer */
.app-footer__text {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Styles for the main container of the application */
.app-main-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 55px - 35px);
}

/* Styles for the map container within the main container */
.app-map-container {
  position: relative;
  height: calc(100vh - 55px - 35px); /* Adjust if necessary */
  width: 100%;
}

/* Styles for a container within the map for line selection */
.app-map-container .line-selector-container {
  position: absolute;
  top: 10px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

/* Styles for a container within the map for map display */
.app-map-container .map-container {
  position: relative;
  height: 100%;
  z-index: 10;
}

/* Styles for a container within the map for legend of selected lines */
.app-map-container .selected-lines-legend-container {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px;
  transform: translateX(-50%);
  z-index: 20;
}

/* Styles for the header above the map */
.map-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  z-index: 1000; /* Ensure it's above the map */
  background-color: #282c34;
  border-radius: 5px;
  padding: 2px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Styles for elements within the map header */
.map-header-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* Styles for the footer below the map */
.map-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 15px;
  z-index: 1000; /* Ensure it's above the map */
  background-color: #282c34;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 35px;
  margin-right: 35px;
  margin-left: 10px;
  height: 150px;
  width: 300px;
}
