.app-header {
  background-color: #282c34;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adjusts content to each end */
  align-items: center; /* Vertically center the items */
  align-items: left;
  font-size: 10px;
  padding: 5px;
  color: white;
}

.app-header__logo {
  height: 45px;
  top: 50%;
  bottom: 50%;
  padding-left: 20px;
  padding-bottom: 15px;
}

.app-header__last-update {  
  height: 45px;
  top: 50%;
  bottom: 50%;
  padding-right: 20px; /* Adds some padding to the right */
}

.app-footer {
  background-color: #282c34;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adjusts content to each end */
  align-items: center; /* Vertically center the items */
  align-items: left;
  font-size: 10px;
  padding: 5px;
  color: white;
}

.app-footer__text {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.app-main-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 55px - 35px);
}

/* Add some CSS to make the map take the remaining width */
.app-map-container {
  position: relative;
  height: calc(100vh - 55px - 35px); /* Adjust if necessary */
  width: 100%;
}

.app-map-container .line-selector-container {
  position: absolute;
  top: 10px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.app-map-container .map-container {
  position: relative;
  height: 100%;
  z-index: 10;
}

.app-map-container .selected-lines-legend-container {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px;
  transform: translateX(-50%);
  z-index: 20;
}

.map-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  z-index: 1000; /* Ensure it's above the map */
  background-color: #282c34;
  border-radius: 5px;
  padding: 2px;
  height: 50px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.map-header-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}