data_persistence_app/venv
data_producer_app/venv
predictions_app/venv
web_backend/venv

data_persistence_app/__pycache__
data_producer_app/__pycache__
predictions_app/__pycache__
web_backend/__pycache__

web_frontend/node_modules
web_frontend/.pnp
web_frontend/.pnp.js

web_frontend/coverage

web_frontend/build

web_frontend/.DS_Store
web_frontend/.env.local
web_frontend/.env.development.local
web_frontend/.env.test.local
web_frontend/.env.production.local

web_frontend/npm-debug.log*
web_frontend/yarn-debug.log*
web_frontend/yarn-error.log*
